@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>

<div class="staff">
    [COMPANY BLURB GOES HERE]
</div>

@foreach (var staff in (ViewData["staffData"] as IEnumerable<System.Xml.Linq.XElement>))
{
    @BuildStaffDisplay(staff) 
}


@helper BuildStaffDisplay(System.Xml.Linq.XElement staff)
{
    String lastItemClass = (staff.ElementsAfterSelf().Count() == 0) ? " lastItem" : "";
    HtmlString textDescription = new HtmlString(staff.Element("Description").Value);
    
    <div class="staff @lastItemClass">
        <div class="staffPicture" id="@staff.Element("ImgId").Value"></div>
        <div class="name">@Html.ActionLink(staff.Element("Name").Value, "Staff", new { id = staff.Attribute("id").Value}) <span class="certifications">@staff.Element("Certifications").Value</span></div>
        <p>@textDescription</p>
    </div>        
}